body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #ffd6a0;
}

h1 {
  color: #28544b;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #28544b;
  font-size: 15px;
}
li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #ffa06f;
  border-radius: 5px;
  background-color: #abcd86;
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 5px;
  width: 75px;
}

.weather-temperature strong {
  font-size: 50px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -23px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #28544b;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.btn-primary {
  background: #28544b;
  border: 1px solid #28544b;
}

.btn-primary:hover {
  background-color: #28544b;
  border: 1px solid #28544b;
  opacity: 0.5;
}
